# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Env
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Project temporary files
saida_ocr/
*.partial
*.metadata.json
